version: '3'
services: 
  nginx-PROJECTNAME:
    build: ./Docker-Nginx
    container_name: nginx-${PROJECT_NAME}
    hostname: nginx-${PROJECT_NAME}
    restart: always
    volumes:
      - ${PROJECT_PATH}:/var/www/${PROJECT_NAME}
      - .\data\nginx\conf.d\:/etc/nginx/conf.d
    ports: 
      - "80:80"
      - "443:443"
  php-fpm-PROJECTNAME:
    build: ./Docker-PHP-FPM
    container_name: php-fpm-${PROJECT_NAME}
    hostname: php-fpm-${PROJECT_NAME}
    restart: always
    ports:
      - "9000:9000"
  mysql-PROJECTNAME:
    build: ./Docker-MySQL
    container_name: mysql-${PROJECT_NAME}
    hostname: mysql-${PROJECT_NAME}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    volumes:
      - mysql-${PROJECT_NAME}-data:/var/lib/mysql
    ports:
      - "3306:3306"
volumes:
  mysql-PROJECTNAME-data: